
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inconsolata:wght@200..900&family=Padauk:wght@400;700&family=Smooch+Sans:wght@100..900&display=swap');
  
*{
font-family:'inconsolata'; /*font-family:'IBM Plex Sans';*/
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(245, 254, 255);
}

.darkmode{
    background-color: rgb(0, 10, 19);

}
.button {
    background-color: transparent;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-family:'inconsolata';
    border-radius: 5%;
    padding: 0 20px;
    margin: 0 20px;
    color: #00f3e3;
    font-size: 110%;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
div{
     /*border: solid 1px red;/*utility border*/
}

@media (max-width: 599px){
    .tableofcontents > #tree {
        display: none;
    }
}
/*toppage------------------------------------y      */
.loadingbarcontainer{
    display: flex;
    justify-content: space-between;
    /* border: solid 5px green;/*utility border*/
}

.loadingbar{
     /*border: solid 5px yellow;/*utility border*/
    margin-top:auto; 
}
.loadingbar span{
    color: #00ffee;
    background-color: #5278b6;
    box-shadow:  0 2px 1px  #6185BF;
    font-weight: 300;
}
.loadingbarcontainer > a, #logoposition{
    /*border: solid 5px yellow;/*utility border*/
    padding: 2px;
    text-align: center;
}
.logo{
    width: 1.5em;
    height: 1.5em;
}
#logoposition a:hover{
   border-bottom: solid 1px  #00ffee;
}
.hr0{
    width: 25%;
    height: 10px;
    border: rgb(245, 254, 255);
    background-color: #aefffa;
    border-radius: 2%;
 
}



   
    
 

.navcontent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
/*toppage------------------------------------x      */



/*navcontent---------------------------------x      */
.navcontent a{
    font-family:'inconsolata';
    border-radius: 5%;
    padding: 0 20px;
    margin: 0 20px;
    text-decoration: none;
    color: #00ffee;
    font-size: 110%;
}


.navcontent a:hover{
    color: rgb(245, 254, 255);
    background-color: rgba(32, 255, 236, 0.445);
}

.navcontent button:hover{
    color: rgb(245, 254, 255);
    background-color: rgba(32, 255, 236, 0.445);
}
/*navcontent---------------------------------y      */

/*name---------------------------------------x      */
.myName{
    padding-right: 12.5em;
    text-align: center;
    
}

.name{
    font-family:'IBM Plex Sans';
    font-weight: 500;
    font-size:335%;
    color: #00ffee;
    padding: 35px;
    margin: 15px;
}

.imagetextcenter{
    display: flex;
    padding-left: 11em;
    justify-content: center;
    
}

.profilepicture{
    padding:1%;
    margin: 0%;
    width: 130px;
    height: 130px;
    
}

#profilepicture{
    border: solid 1px transparent;
    border-radius: 50%; 

}


/*name---------------------------------------y      */




.fontutility{

}

/*mainpage------------------------------------------------------*/
@media (min-width: 200px){

}
.mainpage{
    
    display: flex;
    /*border: solid 1px white;*/
    justify-content: space-evenly;
    position: relative;
}
#flexboxspacing{
    width: 100%;
}

/*tableofcontents----------------------------*/
.tableofcontents{
    display: flex;
    justify-content: space-around;
}

.tree{
   
    
    /*border: solid 1px purple;*/
    color: #6185BF;
    text-align: left;
    padding-left: 20em;
    position: fixed;
    top: 5;
    overflow: hidden;
}
#tree {

}
.bar{
    border: solid 1px white;
    text-align: center;
}
#topic{
    text-decoration: none;
    color: #6185BF;
    padding: 10px;
}

#topictitle{
    font-weight: 400;
    font-size: larger;
}

#topic #hovertopic:hover{
    color: rgb(0, 255, 238);
    background-color: rgb(214, 253, 250);
}

#verticalhr{
    text-align: center;
    height: 100%;
    width: 2px;
    background-color:#6185BF;
    
}

#scrollbar{
    color: #00ffee;
    position: fixed;
}
/*tableofcontents-----------------------------*/






/*maincontent---------------------------------*/
.maincontent{

    display: grid;
    border: whitesmoke;
    border-radius: 1%;
    background-color: rgb(245, 254, 255);
    background-image: linear-gradient(to bottom, rgb(245, 254, 255), rgb(238, 255, 254), rgb(230, 255, 253), rgb(170, 255, 248), rgb(187, 255, 249));
    box-shadow:  0 0 80px 10px  rgb(206, 255, 251);
}
.aboutcontent{
    padding: 0 5em;
    margin-top: 5em;
    text-align: left;
    /*border: solid 1px green;*/
}
.aboutbuttons{
    padding: 0 0 5 0px;
    background-color: #6185BF;
    text-decoration: none;
    color: #00ffee;
}
#abouttitles{
    color:#6185BF;
    padding-left: 5px;
}
.aboutdesc{
    color: #3484c5;
}
#para{
    /*border: solid 1px yellow;*/
    padding: 0 5em;
}
#para1{
    /*border: solid 1px yellow;*/
    padding: 0 5em;
    color: #3484c5;
}
#span1{
    padding: 1em;
    border-radius: 5px;
    border: solid 1px #6185BF;
    box-shadow: 10px  rgb(214, 253, 250);
}

.colorhover:hover{
    background-color: #6185BF;
    color: #00ffee;
}


.projectdirectingbutton{
    text-decoration: none;
    color: #3484c5;
}
/*maincontent---------------------------------*/


/*sidecontent---------------------------------*/
.misc{
    
    /*border: solid 1px blue;*/
    
    text-align: left;
  
}


/*sidecontent---------------------------------*/







/*mainpage------------------------------------------------------*/

#back{
    background-image: url("./images/anime.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
    text-align: center;
    color: white;
}
#back h1{
    padding: 7em;
    margin: 5em;
}

.secondpage{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
#contacts{
    text-align: center;
}

.imagecontent{
    padding: 5em;
    margin: 1em;
    
}
.imgcard{
    border-radius: 15%;
}

#imagecard2{
    
}
#imagecard3{
    
}


.parentcontainer{
    position: relative;
   
}

#absolutetext{
    position: absolute;
    
}
#imagecard1{
 
  
}

#parent{
    position: relative;
    text-align: center;
    
}
#child1 > img{
    position: absolute;
    width:105px;
    height: 105px;
    left: 895px;
}

#child2 > p{
    position: absolute;
    top: 6px;
    left: 932px;
}

#child2 span{
    color:#3e72c5;
}
#child2 span::before { 
    content: "'◡'"; 
    animation: animate infinite 2s; 
    
} 

@keyframes animate { 
    
    0% { 
        content: "˚◡˚"; 
    } 
    10% { 
        content: "˚◡˚"; 
    } 
    20% { 
        content: "˚◡˚"; 
    } 
    30% { 
        content: "˚◡˚"; 
    } 
    40% { 
        content: "˚◡˚"; 
    } 
    50% {
        content: "˚◡˚"; 
    } 
    60% { 
        content: "˚◡˚"; 
    } 
    70% { 
        content: "˚◡˚"; 
    } 
    80% { 
        content: "˚◡˚"; 
    } 
    90% { 
        content: "˚◡˚"; 
    } 
} 


.artreference{
    text-decoration: none;
    text-align: center;

}
.artreference a:hover{
    background-color: red;
}

.parentcontainer > h1{
    color: #4dfdc8;
    text-align: center;
}

#minilogo{
    width: 1%;
    height: 1%;
    text-align: center;
}

#midway{
    text-align: center;
    
}

#midway > span{
    border: solid 2px #00f3e3;
    color: #00f3e3;
}