
/*PASSED QUALITY CHECK*/
html{
    scroll-behavior: smooth;
}  
/*PASSED QUALITY CHECK*/
*{
    font-family:'inconsolata'; /*font-family:'IBM Plex Sans';*/
}
/*PASSED QUALITY CHECK*/
body{
    transition: 1s;
    background-color: rgb(243, 253, 255);
}
/*PASSED QUALITY CHECK*/
.darkmodeNoTransition{
    background-color: #001b27;
}
/*PASSED QUALITY CHECK*/
.darkmode{
    background-color: #001b27;
}
.hr0{
    border: dashed 1px; 
    border-color: #00ffff;
    width: 25%;
}
/***************************************ESSENTIALS********************************************/

.darkModeButton{
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 25px; 
    transition: 0.75s !important;
    transform: scaleX(1);
}
.darkModeButton:hover{
    transform: scaleX(-1);
    background-color: transparent !important;
}
.emoji{
    color: transparent;
    text-shadow: 0 0 0 rgba(90, 255, 247, 0.911);
}

/*toppage-------------------------------------------*/
.link{ /*container for media links*/
    display: flex;
    justify-content: center;
}
.linkItems{ /*media link spacing*/
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.socialsMediaIcon{   /*media link sizes*/
    width: 1.5em;
    height: 1.5em;
}

.navButton{
    display: flex;
    justify-content: center;
}
.navButtonElement{
 
    padding-left: 1.5em;
    padding-right:  1.5em;
    border-radius: 15px;
    transition: .25s ease;
    font-weight: 500;
    text-decoration: none;
    color: #00ffff;
    font-size: 110%;
}

.navButtonElementSpan:hover{
    transition: 0.5s;
    color: #0e8fb3;
    background-color: rgba(98, 255, 242, 0.733);
    border-radius: 25px;
}


/*toppage-------------------------------------------*/

/*name----------------------------------------------*/
.myName{
  
}
.name{
    text-align: left;
    font-family:'IBM Plex Sans';
    font-weight: 500;
    font-size:300%;
    color: #00ffff;
    padding: 35px 35px 35px 35px ;
    margin: 15px;

}
.imagetextcenter{
    display: flex;
    justify-content: center;
}
#profilepicture{
    border: transparent;
    border-radius: 50%; 
    margin-top: 1em;
    width: 125px;
    height: 125px;  
    /*box-shadow: 0px 2px 25px rgba(32, 158, 180, 0.062);*/
}
@media(max-width:399px){
    .imagetextcenter{
        width: 30%;
        height: 30%;
        display: flex;
        flex-wrap: wrap;
        padding: auto;
        margin: auto;
    }
}
/*name----------------------------------------------*/


/*mainpage------------------------------------------------------*/
.mainpage{
    display: flex;
    justify-content: center;
    position: relative;
}
#flexboxspacing{
    width: 100%; 
}

@media (max-width: 800px){ 
    .tableofcontents > #tree {
        display: none;
    }
    .mainpage{
        display: block;
    }
    .pfp{
        display: none;
    }
}
/*tableofcontents----------------------------------------------*/
.tableofcontents{
    display: flex;
    justify-content: space-around;
}
.tree{
    color: #3f88c4;
    text-align: left;
    padding-left: 20em;
    position: fixed;
    top: 5;
    overflow: hidden;
}
#topic{
    text-decoration: none;
    color: #3f88c4;
    padding: 10px;
}
#topictitle{
    font-weight: 400;
    font-size: larger;
}
#topic #hovertopic:hover{
 
    color: #09c7ba;
    background-color: rgba(214, 253, 250, 0.237);
    border-radius: 25px;
    transition: .75s;
}
@media (max-width: 1500px){ /*IMPORTANT - hides the table of contents when on mobile*/
    .tableofcontents > #tree {
        display: none;
    }
}
/*tableofcontents----------------------------------------------*/



/*maincontent---------------------------------*/

@media (max-width: 599px){
    .maincontent >  div{
        background-color: white;
        padding: 0px;
        margin: 0px;
    }
}
@media (max-width: 330px){
    #para{
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
}
@media (max-width: 330px){
    #span1{
        padding: 0px;
        margin: 0px;
    }
}
.maincontent{
    width: 100%;
    display: grid;
}
.maincontentstyle{
    background-color: rgb(245, 254, 255);
    background-image: linear-gradient(to bottom, rgb(245, 254, 255), rgb(238, 255, 254), rgb(230, 255, 253), rgb(170, 255, 248), rgb(187, 255, 249));
    border: whitesmoke;
    border-radius: 1%;
    box-shadow:  0 0 80px 10px  rgb(206, 255, 251);
}
.darkmodemain{
    background-color: #002227;
    background-image: linear-gradient(to bottom, #001b27, #00101a, #000b14);
    border-radius: 1%;
    border-radius: 1%;
    box-shadow: 0 0 20px 5px  rgb(3, 58, 83);
}
.aboutcontent{
    padding: 0 5em;
    margin-top: 5em;
    text-align: left;
}
.aboutbuttons{
    padding: 0 0 5 0px;
    background-color: #4271bd;
    text-decoration: none;
    color: #00ffff;
    border-radius: 2px;
}
#abouttitles{
    color:#3f88c4;
    padding-left: 5px;
    font-weight: 500;
}

#para{
    /*border: solid 1px yellow;*/
    padding: 0 5em;
}


.para1{ /*all the texts*/
    /*border: solid 1px yellow;*/
    font-weight: 450;
    padding: 0 5em;
    color: #4ca3dd;
}

.para2{ /*email*/
    /*border: solid 1px yellow;*/
    padding: 0 5em;
    color: #3484c5;
}

#span1{
    padding: 1em;
    border-radius: 5px;
    border: solid 1px #6185BF;
    box-shadow: 10px  rgb(214, 253, 250);
}
.colorhover:hover{
    background-color: #6185BF;
    color: #00ffff;
}
.projectdirectingbutton{
    text-decoration: none;
    color: #3484c5;
}
/*maincontent---------------------------------*/


/*sidecontent---------------------------------*/
.misc{
    display: hidden;
}
/*sidecontent---------------------------------*/



/*mainpage------------------------------------------------------*/

.secondpage{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#contacts{
    text-align: center;
}
.imagecontent{
    padding: 5em;
    margin: 1em; 
}
.imgcard{
    border-radius: 15%;
}
.artreference{
    text-decoration: none;
    text-align: center;
}
.artreference a:hover{
    background-color: red;
}
.parentcontainer > h1{
    color: #00ffff;
    text-align: center;
}
#minilogo{
    width: 1%;
    height: 1%;
    text-align: center;
}
#clock{
    text-align: center;   
}
#clock > span{
    border: solid 2px #00ffff;
    color: #00ffff;
}
#txt{
    font-size: 150%;
}
#backtotop{
    color: #3484c5;
    text-decoration: none;
}


/*----------------------------*/
.patreon{
    text-align: center;
}
.endbox{
    display: flex;
    justify-content: center;  
}
.endboxitem{
    padding: 50px;
}
#gmaillogo{
    width: 50px;
    height: 40px;
    padding-top:10px;
}
#xlogo{
    width: 75px;
    height: 50px;
}
#patreonlogo{
    width: 50px;
    height: 50px;  
}
/*----------------------------*/


/*----------------------------*/
#instagramlogo{
    width: 40px;
    height: 40px;
}
#instagramlink{
    text-decoration: none;
    color: #00ffff;
}
#email{
    color: #00ffff;
    padding: 50px;
}
@media (max-width: 330x){
    #album > #imgcard1, img{
        border: solid 15px black;
    }
}
.place{
    color: #00ffff;
}
/*----------------------------*/




.myEmail:visited{
    background-image: linear-gradient(to left,  rgb(84, 227, 255), rgb(117, 228, 180),rgb(32, 235, 229));
    color: transparent;
    background-clip: text;
    text-decoration: none;
}
.myEmail:link{
    background-image: linear-gradient(to left,  rgb(84, 227, 255), rgb(117, 228, 180),rgb(32, 235, 229));
    color: transparent;
    background-clip: text;
    text-decoration: none;
}




/* original code */

@media (max-width: 330x){
   
}