
.space{
    align-items: center;
    text-align: center;
    
}

.stars{
    font-size: x-large;
    text-shadow: 0 0 8px rgb(53, 255, 255);

}
.starsAnimate{
    animation: animateStar 15s infinite;
}
.starsAnimate1{
    animation: animateStar 20s infinite;
}
.starsAnimate2{
    animation: animateStar 25s infinite;
}
.starsAnimate3{
    animation: animateStar 30s infinite;
}
.starsAnimate4{
    animation: animateStar 35s infinite;
}
.starsAnimate5{
    animation: animateStar 40s infinite;
}

@keyframes animateStar {
    25% {
        transform: translateX(-70px);
        text-shadow: 0 0 8px rgb(125, 255, 255), 0 0 8px rgb(149, 255, 237);
    }
    50%{
        transform: translateX(70px);
        text-shadow: 0 0 8px rgb(53, 255, 255);
    }
}


/*
@keyframes animateStar {
    33% {
        opacity: 0.1;
        transform: rotate(360deg);
    }
    66%{
        opacity: 1;
        transform: rotate(-360deg);
    }
}
*/





/*
    <div class = "stars starsAnimate" id = "stars0">.</div><div class = "stars starsAnimate" id = "stars1" >.</div> <div class = "stars starsAnimate" id = "stars2" >.</div>
        <div class = "stars starsAnimate" id = "stars3" >.</div> <div class = "stars starsAnimate" id = "stars4" >.</div> <div class = "stars starsAnimate" id = "stars5" >.</div>
        <div class = "stars starsAnimate" id = "stars6" >.</div> <div class = "stars starsAnimate" id = "stars7" >.</div> <div class = "stars starsAnimate" id = "stars8" >.</div>
        <div class = "stars starsAnimate" id = "stars9" >.</div> <div class = "stars starsAnimate" id = "stars10" >.</div> <div class = "stars starsAnimate" id = "stars11" >.</div>
        <div class = "stars starsAnimate" id = "stars12" >.</div> <div class = "stars starsAnimate" id = "stars13" >.</div> <div class = "stars starsAnimate" id = "stars14" >.</div>
        <div class = "stars starsAnimate" id = "stars15" >.</div> <div class = "stars starsAnimate" id = "stars16" >.</div> <div class = "stars starsAnimate" id = "stars17" >.</div>
        <div class = "stars starsAnimate" id = "stars18" >.</div> <div class = "stars starsAnimate" id = "stars19" >.</div> <div class = "stars starsAnimate" id = "stars20" >.</div>
*/